__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

.git/
.vscode/
.venv/
venv/

data/
models/
!models/
models/*
!models/lightgbm_model.txt
!models/lightgbm_metrics.json
!models/gnn_metrics.json
notebooks/
*.ipynb

.env
.env.*

*.log
*.csv
!submission.csv
*.png